<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./app/Auth/Tests/Feature</directory>
            <directory suffix="Test.php">./app/Shared/Tests/Feature</directory>
            <directory suffix="Test.php">./app/Stock/Tests/Feature</directory>
            <directory suffix="Test.php">./app/Locations/Tests/Feature</directory>
            <directory suffix="Test.php">./app/Catalog/Tests/Feature</directory>
            <directory suffix="Test.php">./app/Taxonomy/Tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./app/Stock/Tests/Unit</directory>
        </testsuite>
        <testsuite name="Domain">
            <directory suffix="Test.php">./app/Stock/Tests/Domain</directory>
            <directory suffix="Test.php">./app/Catalog/Tests/Domain</directory>
            <directory suffix="Test.php">./app/Locations/Tests/Domain</directory>
            <directory suffix="Test.php">./app/Uom/Tests/Domain</directory>
            <directory suffix="Test.php">./app/Taxonomy/Tests/Domain</directory>
        </testsuite>
        <testsuite name="Application">
            <directory suffix="Test.php">./app/Stock/Tests/Application</directory>
            <directory suffix="Test.php">./app/Catalog/Tests/UseCases</directory>
            <directory suffix="Test.php">./app/Uom/Tests/Application</directory>
            <directory suffix="Test.php">./app/Locations/Tests/UseCases</directory>
            <directory suffix="Test.php">./app/Taxonomy/Tests/UseCases</directory>
        </testsuite>
        <testsuite name="Infrastructure">
            <directory suffix="Test.php">./app/Stock/Tests/Infrastructure</directory>
            <directory suffix="Test.php">./app/Catalog/Tests/Infrastructure</directory>
            <directory suffix="Test.php">./app/Uom/Tests/Infrastructure</directory>
            <directory suffix="Test.php">./app/Locations/Tests/Infrastructure</directory>
            <directory suffix="Test.php">./app/Taxonomy/Tests/Infrastructure</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
