<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <!-- Module-specific test suites -->
        <testsuite name="Items">
            <directory>app/Items/Tests</directory>
        </testsuite>
        <testsuite name="Stock">
            <directory>app/Stock/Tests</directory>
        </testsuite>
        <testsuite name="Taxonomy">
            <directory>app/Taxonomy/Tests</directory>
        </testsuite>
        <testsuite name="Locations">
            <directory>app/Locations/Tests</directory>
        </testsuite>
        <testsuite name="Uom">
            <directory>app/Uom/Tests</directory>
        </testsuite>
        <testsuite name="Auth">
            <directory>app/Auth/Tests</directory>
        </testsuite>
        
        <!-- Global test suites -->
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
